:root {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: top center/contain url("../images/bg-mobile-light.jpg") no-repeat;
  background-color: #fafafa;
  padding: 0 1.3rem;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2.5rem 0;
}

.header__title {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: clamp(0.5rem, 3vw, 0.8rem);
  font-size: clamp(1.5rem, 5vw, 2.3rem);
}

.header__themetoggler {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
}

.main__newtodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: clamp(0.8rem, 3vw, 1rem) clamp(1rem, 3vw, 1.5rem);
  background-color: white;
  border-radius: clamp(0.25rem, 5vw, 0.25rem);
}

.checker {
  display: block;
  position: relative;
  width: clamp(20px, 3vw, 25px);
  height: clamp(20px, 3vw, 25px);
  background: #E4E5F1;
  border-radius: 1rem;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}

.checker::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 1rem;
  background: white;
}

.checker:hover {
  background: linear-gradient(135deg, #57ddff, #c058f3);
  -webkit-animation: checkerRotate 1s linear infinite;
          animation: checkerRotate 1s linear infinite;
}

.checker--completed {
  background: linear-gradient(135deg, #57ddff, #c058f3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checker--completed::before {
  content: url("../images/icon-check.svg");
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  background: none;
}

.checker--completed:hover {
  background: linear-gradient(135deg, #57ddff, #c058f3);
  -webkit-animation: none;
          animation: none;
}

#new-todo {
  border: none;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background-color: transparent;
  font-size: clamp(0.7rem, 3vw, 1rem);
  color: #484B6A;
}

#new-todo:focus {
  outline: none;
}

#button {
  background: none;
  border: none;
  cursor: pointer;
  color: #9394A5;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.material-icons-outlined {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.main__todolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: clamp(0.25rem, 5vw, 0.25rem);
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 3rem #E4E5F1;
          box-shadow: 0 1rem 3rem #E4E5F1;
}

.main__todolist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: clamp(0.8rem, 3vw, 1rem) clamp(1rem, 3vw, 1.5rem);
  border-bottom: 1px solid #E4E5F1;
  cursor: pointer;
}

.main__todolist__item__contentblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: clamp(0.6rem, 3vw, 1rem);
}

.main__todolist__item__contentblock__content {
  color: #484B6A;
}

.main__todolist__item__contentblock__content--completed {
  text-decoration: line-through;
  color: #9394A5;
}

.main__todolist__item__delete {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.ghost {
  background-color: #D2D3DB;
}

.main__todolist__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  font-size: clamp(0.6rem, 3vw, 0.8rem);
  color: #9394A5;
  background-color: white;
}

.main__todolist__footer__filter__element, .main__todolist__footer__clear {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.main__todolist__footer__filter__element:hover, .main__todolist__footer__clear:hover {
  color: #484B6A;
}

.main__todolist__footer__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  font-size: .8rem;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #9394A5;
  border-radius: .5rem;
}

.main__todolist__footer__filter li {
  cursor: pointer;
}

.main__todolist__footer__itemscounter, .main__todolist__footer__clear {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.main__draganddrop {
  margin: auto;
  font-size: .8rem;
  color: #9394A5;
  padding-top: 6rem;
}

.body-darktheme {
  background: top center/contain url("../images/bg-mobile-dark.jpg") no-repeat;
}

.elementsbackground-darktheme {
  background-color: #25273C;
}

.hidden {
  display: none;
}

.selected {
  color: #3A7BFD;
}

.selected:hover {
  color: #3A7BFD;
}

@-webkit-keyframes checkerRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes checkerRotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media all and (max-width: 583px) {
  .main__todolist__footer__filter {
    position: absolute;
    bottom: 4rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    background-color: white;
    font-size: .8rem;
    font-weight: bold;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #9394A5;
    border-radius: clamp(0.25rem, 5vw, 0.25rem);
    -webkit-box-shadow: 0 1rem 3rem #E4E5F1;
            box-shadow: 0 1rem 3rem #E4E5F1;
  }
  .main__todolist__footer__filter li {
    cursor: pointer;
  }
  .main__todolist__footer__itemscounter, .main__todolist__footer__clear {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
}

@media all and (min-width: 584px) {
  body {
    background: top center/cover url("../images/bg-desktop-light.jpg") no-repeat;
    background-size: 1440px auto;
  }
  #container {
    width: max(43%, 550px);
    margin: auto;
  }
  .header {
    padding: 4rem 0 2.5rem;
  }
  .header, .main {
    width: 90%;
  }
  .main__draganddrop {
    padding-top: 2rem;
  }
}
/*# sourceMappingURL=style_light.css.map */