$color-activelink: #3A7BFD;
$color-gradient: linear-gradient(135deg, #57ddff, #c058f3);
$color-white: white;
$color-lighttheme-extralightgrey: #fafafa;
$color-lighttheme-extralightgreyblue: #E4E5F1;
$color-lighttheme-lightgreyblue: #D2D3DB;
$color-lighttheme-darkgreyblue: #9394A5;
$color-lighttheme-extradarkgreyblue: #484B6A;
$color-darktheme-extradarkblue: #161722;
$color-darktheme-extradarkdesatblue: #25273C;
$color-darktheme-lightgreyblue: #CACDE8;
$color-darktheme-lightgreyblue_hover: #E4E5F1;
$color-darktheme-darkgreyblue: #777A92;
$color-darktheme-extradarkgreyblue: #4D5066;
$color-darktheme-extradarkgreyblue_2: #393A4C;

// ------------------- GLOBAL STYLES -------------------

:root {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: top center / contain url('../images/bg-mobile-light.jpg') no-repeat;
    background-color: $color-lighttheme-extralightgrey;
    padding: 0 1.3rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

// ------------------- HEADER -------------------

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 0;
}

.header__title {
    text-transform: uppercase;
    color: $color-white;
    font-weight: bold;
    letter-spacing: .5rem;
    font-size: 1.5rem;
}

.header__themetoggler {
    transform: scale(.8);
}

// ------------------- MAIN -------------------

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
}

// ------------------- MAIN -------------------
// NewTodo input

.main__newtodo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem 1rem;
    background-color: $color-white;
    border-radius: .5rem;
}

.checker {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background: $color-lighttheme-extralightgreyblue;
    border-radius: 1rem;
    transition: background .5s ease;
    &::before {
        content: "";
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        border-radius: 1rem;
        background: $color-white;
    }
    &:hover {
        background: $color-gradient;
        animation: checkerRotate 1s linear infinite;
    }
}

.checker--completed {
    background: $color-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: url('../images/icon-check.svg');
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        background: none;
    }
    &:hover {
        background: $color-gradient;
        animation: none;
    }
}

#new-todo {
    border: none;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    color: $color-lighttheme-extradarkgreyblue;
    &:focus {
        outline: none;
    }
}

// ------------------- MAIN -------------------
// 2DoList

.main__todolist {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 3rem $color-lighttheme-extralightgreyblue;
}

// 2DoList
// Item

.main__todolist__item {
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    padding: .8rem 1rem;
    border-bottom: 1px solid $color-lighttheme-extralightgreyblue;
    cursor: pointer;
}

.main__todolist__item__contentblock {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: .6rem;
}

.main__todolist__item__contentblock__content {
    color: $color-lighttheme-extradarkgreyblue;
}

.main__todolist__item__contentblock__content--completed {
    text-decoration: line-through;
    color: $color-lighttheme-darkgreyblue;
}

.main__todolist__item__delete {
    transform: scale(.7);
}

.ghost {
    background-color: $color-lighttheme-lightgreyblue;
}

// ------------------- MAIN -------------------
// 2DoList
// Footer

.main__todolist__footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: .6rem;
    color: $color-lighttheme-darkgreyblue;
    background-color: $color-white;
}

.main__todolist__footer__filter__element, .main__todolist__footer__clear {
    cursor: pointer;
    &:hover {
        color: $color-lighttheme-extradarkgreyblue;
    }
}

// ------------------- MAIN -------------------
// Filter
// Mobile version

.main__mobilefilter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    background-color: $color-white;
    font-size: .8rem;
    font-weight: bold;
    user-select: none;
    color: $color-lighttheme-darkgreyblue;
    border-radius: .5rem;
    box-shadow: 0 1rem 3rem $color-lighttheme-extralightgreyblue;
    & li {
        cursor: pointer;
    }
}

// ------------------- MAIN -------------------
// Drag and drop advice line

.main__draganddrop {
    margin: auto;
    font-size: .8rem;
    color: $color-lighttheme-darkgreyblue;
    padding-top: 2rem;
}

// ------------------- DARK THEME -------------------

.body-darktheme {
    background: top center / contain url('../images/bg-mobile-dark.jpg') no-repeat;
}

.elementsbackground-darktheme {
    background-color: $color-darktheme-extradarkdesatblue;
}

// ------------------- OTHERS -------------------

.hidden {
    display: none;
}

.selected {
    color: $color-activelink;
    &:hover {
        color: $color-activelink;
    }
}

// ------------------- ANIMATIONS -------------------

@keyframes checkerRotate {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}