$color-activelink: #3A7BFD;
$color-gradient: linear-gradient(#57DDFF to #C058F3);
$color-white: white;
$color-lighttheme-extralightgrey: #fafafa;
$color-lighttheme-extralightgreyblue: #E4E5F1;
$color-lighttheme-lightgreyblue: #D2D3DB;
$color-lighttheme-darkgreyblue: #9394A5;
$color-lighttheme-extradarkgreyblue: #484B6A;
$color-darktheme-extradarkblue: #161722;
$color-darktheme-extradarkdesatblue: #25273C;
$color-darktheme-lightgreyblue: #CACDE8;
$color-darktheme-lightgreyblue_hover: #E4E5F1;
$color-darktheme-darkgreyblue: #777A92;
$color-darktheme-extradarkgreyblue: #4D5066;
$color-darktheme-extradarkgreyblue_2: #393A4C;

// ------------------- GLOBAL STYLES -------------------

:root {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: top center / contain url('../images/bg-mobile-light.jpg') no-repeat;
    background-color: $color-lighttheme-extralightgrey;
    padding: 0 1.3rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

// ------------------- HEADER -------------------

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 0;
}

.header__title {
    text-transform: uppercase;
    color: $color-white;
    font-weight: bold;
    letter-spacing: .5rem;
    font-size: 1.5rem;
}

.header__themetoggler {
    transform: scale(.8);
}

// ------------------- MAIN -------------------

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
}

// ------------------- MAIN -------------------
// NewTodo input

.main__newtodo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem 1rem;
    background-color: $color-white;
    border-radius: .5rem;
}

.checker {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid $color-lighttheme-extralightgreyblue;
    border-radius: 1rem;
}

#new-todo {
    border: none;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: $color-lighttheme-extradarkgreyblue;
    &:focus {
        outline: none;
    }
}

// ------------------- MAIN -------------------
// 2DoList

.main__todolist {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 3rem $color-lighttheme-extralightgreyblue;
}

// 2DoList
// Item

.main__todolist__item {
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
    padding: .8rem 1rem;
    border-bottom: 1px solid $color-lighttheme-extralightgreyblue;
}

.main__todolist__item--content {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: .6rem;
    color: $color-lighttheme-extradarkgreyblue;
}

.main__todolist__item--delete {
    transform: scale(.7);

}

// ------------------- MAIN -------------------
// 2DoList
// Footer

.main__todolist__footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: .6rem;
    color: $color-lighttheme-darkgreyblue;
    background-color: $color-white;
}


// ------------------- MAIN -------------------
// Filter
// Mobile version

.main__mobilefilter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    background-color: $color-white;
    font-size: .8rem;
    font-weight: bold;
    color: $color-lighttheme-darkgreyblue;
    border-radius: .5rem;
    box-shadow: 0 1rem 3rem $color-lighttheme-extralightgreyblue;
    & li {
        cursor: pointer;
    }
}


// ------------------- MAIN -------------------
// Drag and drop line

.main__draganddrop {
    margin: auto;
    font-size: .8rem;
    color: $color-lighttheme-darkgreyblue;
    padding-top: 2rem;
}

// ------------------- OTHERS -------------------

.hidden {
    display: none;
}
